<%- include("header") -%>

<h2>Welcome to my To-Do List App!</h2>

<p>My app was created with simplicity and functionality in mind, 
    making it easy for you to manage your tasks and stay on top of your schedule. </p>

<%- include("footer") -%>